.button-container button {
  height: 50px;
  width: 150px;
  background-color: lightskyblue;
  line-height: 50px;
  border-radius: 10px;
  border: none;
}

.button-container button:active {
  background-color: lightblue;
}